@font-face {
  font-family: Muller;
  src: local("Muller Regular"), local("Muller-Regular"),
    url("../../fonts/MullerRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Muller;
  src: local("Muller Bold"), local("Muller-Bold"),
    url("../../fonts/MullerBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Muller;
  src: local("Muller ExtraBold"), local("Muller-ExtraBold"),
    url("../../fonts/MullerExtraBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Muller;
  src: local("Muller Black"), local("Muller-Black"),
    url("../../fonts/MullerBlack.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Muller;
  src: local("Muller Medium"), local("Muller-Medium"),
    url("../../fonts/MullerMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}